<h1 class="text-center mt-5">Registeration Form</h1>
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-6 mt-5">
            <form [formGroup]="form" (ngSubmit)="registerForm()">
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="userName" class="form-control" formControlName="name" id="name" aria-describedby="userName">

                   <!-- Display validation error message if name is required -->
                  <div *ngIf="f.name.touched && f.name.errors?.required" class="form-text">
                    Name is required.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emailHelp">
                  <div *ngIf="f.email.touched && f.email.errors?.required" class="form-text">
                    Email is required.
                  </div>
                  <div *ngIf="f.email.touched && f.email.errors?.pattern" class="form-text">
                    Please enter a valid email address.
                  </div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" formControlName="passCode" id="passCode">
                  <div *ngIf="f.passCode.touched && f.passCode.errors?.required" class="form-text">
                    Passowrd is required.
                  </div>
                  <div *ngIf="f.passCode.touched && f.passCode.errors?.pattern" class="form-text">
                    Password must contain at least 8 characters, including at least one lowercase letter, one uppercase letter, one digit, and one special character.
                  </div>
                </div>
                <div class="d-flex justify-content-between mt-5">
                  <button type="submit" class="btn btn-primary">Register</button>
              <button class="btn btn-secondary" (click)="regisToLogin()">Sign in</button>
              </div>
              </form>
        </div>
    </div>
</div>