<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              User
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item">{{userName}}</a></li>
              <li><a class="dropdown-item" (click)="singOut()">Sign Out</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/cart']">Cart
              <span *ngIf="userCartDataGet?.length > 0; else elseBlock"> ({{userCartDataGet?.length}}) item</span>
              <ng-template #elseBlock>
                <span> no item</span>
              </ng-template>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container mt-5">
    <app-card [cartComponent]="'show'" [resData]="cloneResData" [uniqueBrand]="uniqueBrand" (filterByCategoryData)="filterByCategoryData($event)"></app-card>
  </div>
<router-outlet></router-outlet>